{% extends 'base.html.twig' %}

{% block title %}Testez votre solution PHP !{% endblock %}

{% block body %}

	<div class="row">
		<h4>Indiquez le lien https de votre projet Git :</h4>
	</div>
		{% include "includes/create_app_form.html.twig" %}

{% endblock %}